/*Fonts*/

@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    src: url('fonts/Poppins/Poppins-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  }


/*General Settings*/

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  html{
    /*Fonts*/
    font-family: 'Poppins';
    font-size: 15px;

    /*Colors*/
    --red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /*Neutral*/
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);

    /*Other*/
  
    display: flex;
    justify-content: center;
    align-items: center;

  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
   

/*Text Section*/

  #Subhead{
    margin-bottom: -0.5rem;
    color: var(--VeryDarkBlue);
  }

  h1{
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
    color: var(--VeryDarkBlue);
  }

  #intro{
    width: 34rem;
    margin-bottom: 2.3rem;
    color: var(--GrayishBlue);
  }

  .Text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Text-container #Subhead{
    font-weight: 300;
  }


  /*Card Scetion*/

  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card{
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    border-radius: 6px;
    margin: 20px;
    box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.205);
    max-width: 350px;


  }

  .card h2{
    margin-bottom: 1.45rem;
    font-size: 1.33333rem;
    font-weight: 600;
    color: var(--VeryDarkBlue);
  }

  .card p{
    margin-bottom: 2rem;
    font-size: 0.86667rem;
    font-weight: 200;
    color: var(--GrayishBlue);
  }

  .Card-content{
    padding: 2.1rem;
    display: flex;
    flex-direction: column;
  }


  .card img{
    width: 64px;
    margin-left: auto;
  }


/*Card Stripes*/

  .card-stripe{
    width: 100%;
    height: 4px;
    background-color: green;
    margin: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .card-stripe-blue{
    background-color: var(--Blue);
  }

  .card-stripe-red{
    background-color: var(--red);
  }

  .card-stripe-cyan{
    background-color: var(--Cyan);
  }

  .card-stripe-orange{
    background-color: var(--Orange);
  }


/*Responsive features*/

 @media (width<768px){

  .container{
    flex-direction: column;
  }
  .doubleColumn{
   display: flex;
   flex-direction: column;
  }
  
  #Subhead{
    font-size: 1.6rem;
    margin-bottom: 0rem;
  }

  h1{
    font-size: 1.6rem;
  }

  #intro{
    width: 20rem;
  }

 }