@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    src: url('fonts/Poppins/Poppins-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  }

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  html{
    /*Fonts*/
    font-family: 'Poppins';
    font-size: 15px;

    /*Colors*/
    --red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /*Neutral*/
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);

    /*Other*/
  
    display: flex;
    justify-content: center;
    align-items: center;

  }
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
   


  #Subhead,h1,p{

    line-height: 3rem;
  }

  h1{
    font-size: 2.4rem;
  }

  .Text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 88px;
  }

  .Text-container #Subhead{
    font-weight: 300;
  }

  .container{
    display: flex;
    flex-direction: row;
  }

  .card{
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    border-radius: 6px;
    margin: 20px;
    box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.205);
  }

  .card-stripe{
    width: 100%;
    height: 4px;
    background-color: green;
    margin: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .Card-content{
    padding: 24px;
  }